<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SharkFangProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.revature.battleship.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.revature.battleship.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>viewInfo</servlet-name>
    <servlet-class>com.revature.battleship.servlets.ViewPlayerInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>initializeBoard</servlet-name>
    <servlet-class>com.revature.battleship.servlets.InitializeGame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>placeShips</servlet-name>
    <servlet-class>com.revature.battleship.servlets.PlaceShipsOntoPlayerBoardServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>saveGame</servlet-name>
    <servlet-class>com.revature.battleship.servlets.SaveGame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>playerAttack</servlet-name>
    <servlet-class>com.revature.battleship.servlets.PlayerAttackServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePlayer</servlet-name>
    <servlet-class>com.revature.battleship.servlets.UpdatePlayerInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/html/loginUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/html/logoutUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>viewInfo</servlet-name>
    <url-pattern>/html/viewInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>initializeBoard</servlet-name>
    <url-pattern>/html/initialize</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>placeShips</servlet-name>
    <url-pattern>/html/InitializeShips</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>saveGame</servlet-name>
    <url-pattern>/html/SaveGame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>playerAttack</servlet-name>
    <url-pattern>/html/PlayerAttack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePlayer</servlet-name>
    <url-pattern>/html/UpdatePlayerInfo</url-pattern>
  </servlet-mapping>
</web-app>