.modal-backdrop {
   background-color: rgba(0,0,0,.5);
}

  .unplayed{
    background-color : blue;
    /* bg-info */
  }
  
  .hit{
    background-color : red;
    /* bg-danger */
  }
  
    .miss{
    background-color : gray;
    /* bg-faded */
    
  }
  
    .ship{
    background-color : yellow;
    /* bg-warning */
  }
  
  .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
    
#myProfileModal input{
  	border: 0px;
  }
  
  label {
  margin: 0;
  padding: 5px;
  height: 100%;
  display: block;
}

td {
	padding:0px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0px;
}
  
/*   video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
} */

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ship {
	background-image:url(../html/ship2.png);
	width: 50px;
	height: 50px;
}

.piece1 {
	float: left;
	background-position: 0 0;
}

.piece2 {
	float: left;
	background-position: -50px 0px;
}