.modal-backdrop {
   background-color: rgba(0,0,0,.5);
}

  .unplayed{
    background-color : blue;
    /* bg-info */
  }
  
  .hit{
    background-color : red;
    /* bg-danger */
  }
  
    .miss{
    background-color : gray;
    /* bg-faded */
    
  }
  
    .ship{
    background-color : yellow;
    /* bg-warning */
  }
  
  .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
  
/*   video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
} */