.modal-backdrop {
   background-color: rgba(0,0,0,.5);
}

  .unplayed{
    background-color : blue;
    /* bg-info */
  }
  
  .hit{
    background-color : red;
    /* bg-danger */
  }
  
    .miss{
    background-color : gray;
    /* bg-faded */
    
  }
  
    .ship{
    background-color : yellow;
    /* bg-warning */
  }
  
  .table {
        max-width: none;
        table-layout: fixed;
        word-wrap: break-word;
    }
    
#myProfileModal input{
  	border: 0px;
  }
  
  label {
  margin: 0;
  padding: 5px;
  height: 100%;
  display: block;
}

td {
	padding:0px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 0px;
}

body,html  {
  height: 100%;
  width:100%;
  margin: 0;
}

body {
    background-image: url("https://s3.amazonaws.com/battleshipbucket/resources/images/ocean.jpg");
    background-attachment: fixed;
}

/*   video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
} */

.handOnHover {
  cursor: pointer;
  cursor: hand;
}

.playerGridCell {
  text-align: center;
  color: lime;
}

.enemyGridCell {
  text-align: center;
  color: red;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ship2 {
	background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship2.png");
  background-color : transparent;
	width: 50px;
	height: 50px;
}
.ship2r {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship2r.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship31 {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship31.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship31r {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship31r.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship32 {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship32.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship32r {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship32r.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship4 {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship4.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship4r {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship4r.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship5 {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship5.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.ship5r {
  background-image:url("https://s3.amazonaws.com/battleshipbucket/resources/images/ship5r.png");
  background-color : transparent;
  width: 50px;
  height: 50px;
}

.piece1 {
  background-position: 0 0;
}

.piece2 {
  background-position: -50px 0px;
}

.piece3 {
  background-position: -100px 0px;
}

.piece4 {
  background-position: -150px 0px;
}

.piece5 {
  background-position: -200px 0px;
}

.piece1r {
  background-position: 0 0;
}

.piece2r {
  background-position: 0px -50px;
}

.piece3r {
  background-position: 0px -100px;
}

.piece4r {
  background-position: 0px -150px;
}

.piece5r {
  background-position: 0px -200px;
}